@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Permanent+Marker&display=swap');
.App {
  text-align: center;
  background-color: #8ecae0;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: calc(1rem + 2vmin);
  color: #362544;
}

.App-header h1 {
  margin: 30px auto 10px auto;
}

table {
  max-width: 600px;
  width: 60vmin;
  max-height: 600px;
  height: 60vmin;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 auto;
}

td {
  height: 33.33%;
  margin: 0;
  padding: 0;
  border: 6px solid #68426f;
  font-family: 'Permanent Marker', cursive;
  font-size: calc(4rem + 2vmin);
  color: #453155;
  position: relative;
  animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.result {
  animation: fadeIn ease 1.5s;
  display: block;
  height: 30px;
  margin: 0 auto 30px auto;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.8rem;
  color: #362544;
}

.resetBtn {
  font-family: 'Gochi Hand', cursive;
  font-size: 2rem;
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #6d5088;
  transition: color 0.25s 0.08333s;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 10px 25px;
  margin: 30px 10% 50px 10%;
}

.resetBtn::before, .resetBtn::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.resetBtn::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.resetBtn:after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.resetBtn:hover {
  color: #453155;
}

.resetBtn:hover::before, .resetBtn:hover::after {
  border-color: #453155;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.resetBtn:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.resetBtn:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.resetBtn:focus {
  outline: 2px dotted #55d7dc;
}

@media screen and (max-width: 550px) {
  table {
    max-width: 600px;
    width: 80vmin;
    max-height: 600px;
    height: 80vmin;
  }
  td {
    font-size: 17vmin;
  }
}

@media screen and (max-width: 420px) {
  .App-header {
    font-size: 6vw;
  }
}

@media screen and (max-width: 280px) {
  .resetBtn {
    font-size: calc(.8rem + 1vw);
  }
  td {
    font-size: 12vmin;
  }
  .result {
    font-size: 9vmin;
  }
}

@media (orientation: landscape) {
  .App-header {
    font-size: 5vmin;
  }
  td {
    font-size: 10vmin;
  }
  .resetBtn {
    font-size: calc(.7rem + 1vw);
  }
}